In [1]:
2 ** 3

8

In [2]:
2 + 10 * 10 + 3

105

In [3]:
50 % 5

0

In [4]:
(2 + 10) * (10 + 3)

156

In [1]:
2 ** 3

8

In [1]:
3 + 10 * 10 + 2

105

True division by default
Dynamically typed, over statically typed languages

In [3]:
a = 5
a

5

In [6]:
a = a + a
a

40

In [7]:
type(a)

int

In [9]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

10.0

Index can be forwards [0, 1, 2, 3], or [0, -3, -2, -1]
Slicing has syntax: [start:stop:step]
start, is a numerical Index
stop, is the index you will go up to
step, is the size of the 'jump' you take

In [10]:
'hello'

'hello'

In [11]:
"world"

'world'

In [13]:
" I'm going on a run"

" I'm going on a run"

In [14]:
"hello world one"
"hello world two"

'hello world two'

In [15]:
print('hello \n world')

hello
 world

In [19]:
mystring = "Hello World"
mystring

'Hello World'

In [20]:
mystring[0]

'H'

In [22]:
mystring[-2]

'l'

In [24]:
mystring = 'abcdefghijk'
mystring

'abcdefghijk'

In [25]:
mystring[2:]

'cdefghijk'

In [27]:
mystring[:3]

'abc'

In [28]:
mystring[3:6]

'def'

In [29]:
mystring[1:3]

'bc'

In [30]:
mystring[::]

'abcdefghijk'

In [31]:
mystring[::2]

'acegik'

In [32]:
mystring[::3]

'adgj'

In [33]:
mystring[2:7:2]

'ceg'

In [34]:
mystring[::-1]

'kjihgfedcba'

In [41]:
name = "Sam"
# name[0] = 'P'
last_letters = name[1:]
last_letters

'am'

In [42]:
'P' + last_letters

'Pam'

In [59]:
x = 'Hello World'
x = x + " it is beautiful outside!"
x

'Hello World it is beautiful outside!'

In [60]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [61]:
2 + 3

5

In [62]:
'2' + '3'

'23'

In [63]:
x = 'Hello World'
x.upper()

'HELLO WORLD'

In [64]:
x

'Hello World'

In [65]:
x.lower()

'hello world'

In [66]:
x.split()

['Hello', 'World']

In [67]:
x = 'Hi this is a string'
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [68]:
my_name = "Jose"
print("Hello " + my_name)

Hello Jose

In [69]:
print('Hello {}'.format(my_name))

Hello Jose

In [71]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [72]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [73]:
result = 100/777
result

0.1287001287001287

In [75]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [76]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [77]:
print('The result was {r:10.3f}'.format(r=result))

The result was      0.129

In [78]:
name = 'Jose'
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [80]:
name = 'Sam'
age = 3
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [81]:
my_list = [1,2,3]
my_list = ['STRING',100,23.2]
my_list

['STRING', 100, 23.2]

In [82]:
len(my_list)

3

In [83]:
my_list = ['one', 'two', 'three']
my_list[0]

'one'

In [84]:
my_list[1:]

['two', 'three']

In [87]:
another_list = ['four', 'five']
new_list = my_list + another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [89]:
new_list[0] = 'ONE ALL CAPS'
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [90]:
new_list.append('six')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [91]:
new_list.append('seven')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [92]:
new_list.pop()

'seven'

In [93]:
popped_item = new_list.pop()
popped_item

'six'

In [94]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [95]:
new_list.pop(0)

'ONE ALL CAPS'

In [96]:
new_list.pop(-1)

'five'

In [100]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [99]:
num_list.sort()
num_list

[1, 3, 4, 8]

In [105]:
num_list.reverse()
num_list

[3, 8, 1, 4]

In [106]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [107]:
my_dict['key1']

'value1'

In [108]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}
prices_lookup['apple']

2.99

In [110]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}
d['k2']

[0, 1, 2]

In [111]:
d['k3']['insideKey']

100

In [112]:
d = {'key1':['a','b','c']}
d

{'key1': ['a', 'b', 'c']}

In [114]:
mylist = d['key1']
mylist

['a', 'b', 'c']

In [115]:
letter = mylist[2]
letter

'c'

In [116]:
letter.upper()

'C'

In [117]:
d['key1'][2].upper()

'C'

In [118]:
d = {'k1':100,'k2':200}
d

{'k1': 100, 'k2': 200}

In [119]:
d['k3'] = 300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [121]:
d['k1'] = 'NEW VALUE'
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [122]:
d = {'k1': 100, 'k2': 200, 'k3': 300}
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [123]:
d.values()

dict_values([100, 200, 300])

In [124]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [125]:
t = (1,2,3)
mylist = [1,2,3]
type(t)

tuple

In [126]:
type(mylist)

list

In [127]:
len(t)

3

In [128]:
t = ('one',2)
t[0]

'one'

In [129]:
t[-1]

2

In [130]:
t = ('a','a','b')
t.count('a')

2

In [131]:
t.index('a')

0

In [132]:
mylist[0] = 'NEW'
mylist

['NEW', 2, 3]

In [135]:
# t[0] = 'NEW', can't reassign, this is immutable

In [136]:
myset = set()
myset

set()

In [138]:
myset.add(1)
myset

{1}

In [139]:
myset.add(2)
myset

{1, 2}

In [140]:
myset.add(2)
myset

{1, 2}

In [142]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]
set(mylist)

{1, 2, 3}

In [143]:
1 > 2

False

In [144]:
1 == 1

True

In [146]:
b = None
b

In [147]:
%%writefile myfile.txt
Hello this is a text File
this is the second line
this is the third line

Writing myfile.txt

In [148]:
myfile = open('myfile.txt')

In [150]:
pwd

'/Users/hovo/workspace/git/python-course'

In [151]:
myfile = open('myfile.txt')
myfile.read()

'Hello this is a text File\nthis is the second line\nthis is the third line\n'

In [152]:
myfile.read()

''

In [153]:
myfile.seek(0)

0

In [154]:
myfile.readlines()

['Hello this is a text File\n',
 'this is the second line\n',
 'this is the third line\n']

In [155]:
myfile.close()

In [156]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

contents

'Hello this is a text File\nthis is the second line\nthis is the third line\n'

In [157]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()
contents

'Hello this is a text File\nthis is the second line\nthis is the third line\n'

In [159]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [162]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [163]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [164]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [165]:
with open('dfasdfsd.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [166]:
with open('dfasdfsd.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!