In [1]:
2 == 2

True

In [2]:
'Bye' == 'bye'

False

In [3]:
3 != 3

False

In [7]:
1 < 2 and 2 > 3

False

In [6]:
1 < 2 > 3

False

In [8]:
'h' == 'h' and 2 == 2

True

In [9]:
100 == 1 or 2 == 2

True

In [10]:
not(1 == 1)

False

In [11]:
not 1 == 1

False

In [15]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    if item_name % 2 == 0:
        print(item_name)
    else:
        print(f'Odd number {item_name}')

Odd number 1
2
Odd number 3

In [17]:
list_sum = 0
for num in my_iterable:
    list_sum += num

print(list_sum)

6

In [19]:
for letter in 'Hello world':
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [20]:
for item in (1,2,3):
    print(item)

1
2
3

In [25]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist: # tuple unpacking
    print(a)

1
3
5
7

In [28]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for a,b,c in mylist:
    print(a,b,c)

1 2 3
5 6 7
8 9 10

In [29]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [34]:
for k,v in d.items():
    print(k,v)

k1 1
k2 2
k3 3

In [1]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [3]:
x = [1,2,3]
for item in x:
    pass
print('end of my script')

end of my script

In [4]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [5]:
mylist = [1,2,3]
for num in range(0,11,2): # gen 0 to 10, step by 2
    print(num)

0
2
4
6
8
10

In [6]:
index_count = 0
for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index,letter,'\n')

0 a

1 b

2 c

3 d

4 e

In [14]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [15]:
'x' in [1,2,3]

False

In [16]:
'x' in ['x','y','z']

True

In [17]:
'mykey' in {'mykey':345}

True

In [18]:
d = {'mykey':345}
345 in d.values()

True

In [19]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [20]:
max(mylist)

100

In [24]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist

[9, 5, 6, 8, 2, 3, 10, 7, 4, 1]

In [25]:
from random import randint
randint(0,100)

34

In [26]:
randint(0,100)

5

In [30]:
# input('Enter a number here: ')

In [32]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [33]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [34]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [37]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [40]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [42]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [44]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [45]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [47]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]