In [1]:
hex(12)

'0xc'

In [2]:
bin(1234)

'0b10011010010'

In [3]:
bin(512)

'0b1000000000'

In [4]:
2**4

16

In [5]:
pow(2,4)

16

In [6]:
pow(2,4,3)

1

In [7]:
abs(-3)

3

In [8]:
round(3.1)

3

In [9]:
round(3.141592,2)

3.14

In [10]:
s = 'hello world'
s.capitalize()

'Hello world'

In [11]:
s.upper()
s.lower()

'hello world'

In [12]:
s.count('o')

2

In [13]:
s.find('o')

4

In [14]:
s.center(20,'z')

'zzzzhello worldzzzzz'

In [15]:
print('hello\thi')

hello	hi

In [17]:
'hello\thi'.expandtabs() # allows u to print out value w/o calling print

'hello   hi'

In [19]:
s = 'hello'
s.isalnum()

True

In [20]:
s.isalpha()

True

In [21]:
s.islower()

True

In [22]:
s.isspace()

False

In [23]:
s.istitle()

False

In [24]:
s.isupper()

False

In [25]:
'HELLO'.isupper()

True

In [26]:
s.endswith('o')

True

In [27]:
s[-1] == 'o'

True

In [28]:
s.split('e')

['h', 'llo']

In [29]:
s = 'hiihhihihiiihhhi'
s.split('i')

['h', '', 'hh', 'h', 'h', '', '', 'hhh', '']

In [31]:
s.partition('i') # will split at the first occurrence of 'i'

('h', 'i', 'ihhihihiiihhhi')

In [32]:
s = set()
s.add(1)

In [33]:
s.add(2)
s

{1, 2}

In [34]:
s.clear()

In [35]:
s

set()

In [55]:
s = {1,2,3}
sc = s.copy()

In [56]:
s.add(4)
s

{1, 2, 3, 4}

In [57]:
sc

{1, 2, 3}

In [58]:
s.difference(sc)

{4}

In [59]:
sc

{1, 2, 3}

In [60]:
s

{1, 2, 3, 4}

In [61]:
s1 = {1,2,3}
s2 = {1,4,5}
s1.difference_update(s2) # updates s1, leaves s2 untouched
s1

{2, 3}

In [62]:
s2

{1, 4, 5}

In [63]:
s

{1, 2, 3, 4}

In [64]:
s.discard(2)

In [65]:
s

{1, 3, 4}

In [68]:
s.discard(12) # will ignore if not found

In [69]:
s

{1, 3, 4}

In [70]:
s1 = {1,2,3}
s2 = {1,2,4}

In [71]:
s1.intersection(s2)

{1, 2}

In [72]:
s1.intersection_update(s2) # updates s1 w/ likes
s1

{1, 2}

In [73]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [77]:
s1.isdisjoint(s2) # false bc it has an intersection

False

In [78]:
s1.isdisjoint(s3) # true bc has a null intersection

True

In [79]:
s1

{1, 2}

In [80]:
s2

{1, 2, 4}

In [82]:
s1.issubset(s2) # all of s1 is in s2

True

In [83]:
s2.issuperset(s1) # all of s1 is in s2

True

In [86]:
s1.symmetric_difference(s2) # returns 4 bc everything else is symmetrical

{4}

In [87]:
s1.union(s2) # returns all elements in either set

{1, 2, 4}

In [88]:
s1.update(s2)
s1

{1, 2, 4}

In [96]:
d = {'k1':1,'k2':2}
d

{'k1': 1, 'k2': 2}

In [97]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [98]:
{k:v**2 for k,v in zip(['a','b'],range(10))}

{'a': 0, 'b': 1}

In [99]:
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)

In [100]:
for k in d.values():
    print(k)

1
2

In [101]:
for k in d.keys():
    print(k)

k1
k2

In [102]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [105]:
l.count(10)

0

In [106]:
l.count(1)

1

In [107]:
x = [1,2,3]
x.append([4,5]) # will add element object to list
print(x)

[1, 2, 3, [4, 5]]

In [109]:
x = [1,2,3]
x.extend([4,5]) # will extend a list with items in new list
print(x)

[1, 2, 3, 4, 5]

In [110]:
l

[1, 2, 3, 4]

In [111]:
l.index(2)

1

In [112]:
l.index(10) # error 10 is not in list

ValueError: 10 is not in list

In [114]:
l.insert(2,'inserted') # insert str in list
l

[1, 2, 'inserted', 'inserted', 3, 4]

In [115]:
ele = l.pop()
ele

4

In [116]:
l

[1, 2, 'inserted', 'inserted', 3]

In [117]:
l.pop(0)

1

In [118]:
l

[2, 'inserted', 'inserted', 3]

In [123]:
l.remove('inserted') # will remove the first occurrence, will error if not found

ValueError: list.remove(x): x not in list

In [124]:
l

[2, 3]

In [126]:
l.reverse() # will change in place
l

[2, 3]

In [127]:
l.sort()
l

[2, 3]

In [104]:
l = [1,2,3]
l.append(4)
l

[1, 2, 3, 4]