# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [56]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [57]:
# Check
lesser_of_two_evens(2,4)

2

In [58]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    words = text.split()
    return words[0][0].lower() == words[1][0].lower()

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

In [12]:
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [15]:
def old_macdonald(name):
    my_str = ''
    for index,letter in enumerate(name):
        if index==0 or index==3:
            my_str += letter.upper()
        else:
            my_str += letter
    return my_str

In [61]:
def old_macdonald2(name):
    # separate into 2 words and capitalize it
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [60]:
# Check
old_macdonald2('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [17]:
def master_yoda(text):
    words = text.split()
    return " ".join(words[::-1])

In [18]:
# Check
master_yoda('I am home')

'home am I'

In [19]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [35]:
def almost_there(n):
    return abs(n - 100) <= 10 or abs(n - 200) <= 10

In [36]:
almost_there(90)

True

In [37]:
# Check
almost_there(104)

True

In [38]:
# Check
almost_there(150)

False

In [39]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [48]:
def has_33(nums):
    three_cnt = 0
    for num in nums:        
        if num == 3:
            three_cnt += 1
        else:
            three_cnt = 0
    return three_cnt > 1

In [63]:
def has_33_2(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [68]:
def has_33_3(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [69]:
# Check
has_33_3([1, 3, 3])

True

In [70]:
# Check
has_33_3([1, 3, 1, 3])

False

In [71]:
# Check
has_33_3([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [53]:
def paper_doll(text):
    mystr = ''
    for letter in text:
        mystr += letter + letter + letter
    return mystr

In [72]:
def paper_doll_2(text):
    mystr = ''
    for letter in text:
        mystr += letter*3
    return mystr

In [73]:
# Check
paper_doll_2('Hello')

'HHHeeellllllooo'

In [74]:
# Check
paper_doll_2('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [82]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum <= 21:
        return a+b+c
    elif sum > 21 and (a == 11 or b == 11 or c == 11):
        if sum - 10 > 21:
            return 'BUST'
        else:
            return sum - 10
    else:
        return 'BUST'

In [133]:
def blackjack2(a,b,c):
    total = sum([a,b,c])
    if total <= 21:
        return total
    elif 11 in [a,b,c] and total <= 31:
        return total - 10
    else:
        return 'BUST'

In [134]:
# Check
blackjack2(5,6,7)

18

In [135]:
# Check
blackjack2(9,9,9)

'BUST'

In [136]:
# Check
blackjack2(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [113]:
def summer_69(arr):
    sum = 0
    skip = False
    for num in arr:
        if 9 == num:
            skip = False
        elif 6 == num or skip == True:
            skip = True
        else:
            sum += num
    return sum

In [137]:
def summer_69_2(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [138]:
# Check
summer_69_2([1, 3, 5])

9

In [139]:
# Check
summer_69_2([4, 5, 6, 7, 8, 9])

9

In [140]:
# Check
summer_69_2([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [121]:
def spy_game(nums):
    found_1 = False
    found_2 = False
    found_3 = False
    for num in nums:
        if found_1 and found_2 and 7 == num:
            return True
        elif found_1 and 0 == num:
            found_2 = True
        elif 0 == num:
            found_1 = True
    return False

In [146]:
def spy_game2(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [147]:
# Check
spy_game2([1,2,4,0,0,7,5])

True

In [148]:
# Check
spy_game2([1,0,2,4,0,5,7])

True

In [149]:
# Check
spy_game2([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [127]:
def count_primes(num):
    prime_cnt = 0
    if num%2 != 0 or (num%3 != 0 and num != 3) or (num%5 != 0 and num != 5) or (num%7 != 0 and num != 7):
        prime_cnt += 1
    return prime_cnt

In [166]:
def count_primes2(num):
    if num < 2:
        return 0
    # store prime numbers
    primes = [2]
    # counter going up to the input num
    x = 3
    # x is going thru every number up to input number
    while x <= num:
        # check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:   # for else statement!
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [167]:
# Check
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [168]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [169]:
print_big('a')

*
 * *
*****
*   *
*   *

## Great Job!